body, p, h1 {
  background-color: var(--backgroundColor, #fff);
  color: var(--textColor, #999999);
  letter-spacing: var(--letterSpacing, 'normal');
  font-family: var(--font, 'Arial');
}

p, h1 {
  padding: 10px 50px;
}

.HobbitPicture {
  width: 100vw;
  vertical-align: middle;
}

main {
  display: flex;
}

img {
  display: var(--isShowImage, 'block');
  border: 1px solid #cccccc;
  background-color: white;
}
